
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;  /* Preto */
  }
 
  th {
    text-align: center;
    background-color: #f2f2f2;  /* Cinza claro */
    color: #000;  /* Preto */
  }
 
  td {
    border: 1px solid #ccc;  /* Cinza */
    padding: 5px;
  }
 
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;  /* Cinza ainda mais claro */
  }
 
  tbody tr:hover {
    background-color: #e6e6e6;  /* Cinza ao passar o mouse */
  }
