table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #eeff00;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #eeff00;
}
tr:nth-child(even) {
  background-color: #f0ff19;
}
h1{
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  header {
    font-size: 20px;
  }
}